<div class="my-8" *ngIf="testModel">
  <div class="flex justify-center items-center">
    <mat-card class="screen px-8">
      <div class="sticky flex justify-between">
        <div class="flex justify-center items-center">
          <button class="w-2" disabled style="font-size: 16px" mat-icon-button>
            <mat-icon>timer</mat-icon> &nbsp;
          </button>

          <button style="margin-left: -14px" class="w-2" mat-button disabled>
            {{ remainingTime | timerFormat }}
          </button>
        </div>

        <button color="primary" mat-button>Close</button>
      </div>
      <div #normalViewScreen class="normal-view">
        <div
          class="prevent-select"
          #paragraph
          *ngFor="let para of testModel.Paragraph.Normal; let i = index"
        >
          <p class="para font-medium" appTextHighlighter>
            @for (item of para.split(' '); track $index) {
            <span
              [ngClass]="
                normalViewConfig().currentParaIndex == i &&
                normalViewConfig().currentWordIndex == $index
                  ? 'highlight'
                  : ''
              "
              >{{ item }}</span
            >
            &nbsp; }
          </p>

          <mat-form-field class="w-full">
            <input
              [readonly]="normalViewConfig().currentParaIndex != i"
              (copy)="(false)"
              (cut)="(false)"
              (paste)="(false)"
              (dragstart)="(false)"
              (dragend)="(false)"
              (selectstart)="(false)"
              (keydown)="startTyping($event)"
              (mousedown)="(false)"
              class="select-none para font-medium prevent-select"
              style="word-spacing: 0.6rem"
              matInput
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="pro-view"></div>
  <div class="phone-view"></div>
</div>
