.screen {
  width: 600px;
  height: 500px;
  overflow-y: hidden; /* Enable vertical scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.white-bg {
  background-color: white;
}
.typedLine {
  position: absolute;
  top: 0px;
}

.screen::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.normal-view {
  .para {
    font-size: 20px;
    // word-spacing: 0.5rem;
  }
}
.pro-view {
  .para {
    //  max-height: 250px;
    //  overflow-y: hidden;

    font-size: 20px;
    line-height: 28px !important;
  }
}

.prevent-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.highlight {
  color: blue;
}

.redHighlight {
  color: red;
}

.pro-wrapper {
  .pro-container {
    transform: translateY(-86px);
    //   height: 100px;
    font-size: 20px;
    word-spacing: 0.7rem;
    .split-word {
      margin-right: 0.6px;
    }
  }
}

.input-form-field {
  position: relative;
  .value-container {
    position: absolute;
    top: 20px;
    font-size: 20px;
    word-spacing: 0.6rem;
    .split-word {
      margin-right: 0.6px;
    }
  }
}
:host ::ng-deep {
  .mdc-text-field {
    padding: 0px !important;
    background-color: white;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: white;
  }

  .mat-button-toggle {
    height: 40px; /* Change this value to your desired height */
    //  line-height: 40px; /* Ensures text is vertically centered */
  }

  .mat-button-toggle-label-content {
    line-height: 40px !important;
  }
}
