.screen {
  width: 600px;
  height: 500px;
  overflow-y: scroll; /* Enable vertical scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.screen::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.normal-view {
  .para {
    font-size: 20px;
    // word-spacing: 0.5rem;
  }
}

.prevent-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.highlight {
  color: blue;
}

:host ::ng-deep {
  .mdc-text-field {
    padding: 0px !important;
    background-color: white;
  }
}
