<div class="my-8" *ngIf="testModel">
  <div class="flex justify-center items-center">
    <mat-card class="screen px-8">
      <div class="flex justify-between items-center">
        <div class="flex justify-center items-center">
          <button class="w-2 text-base" disabled mat-icon-button>
            <mat-icon>timer</mat-icon> &nbsp;
          </button>

          <button class="-ml-3 w-2" mat-button disabled>
            {{ remainingTime | timerFormat }}
          </button>
        </div>
        <mat-button-toggle-group
          (change)="onModeChange($event)"
          name="testMode"
          [value]="this.selectedMode()"
          aria-label="Test Mode"
          [disabled]="testModel.Status == 'running'"
        >
          <mat-button-toggle value="basic">Basic</mat-button-toggle>
          <mat-button-toggle value="pro">Pro</mat-button-toggle>
        </mat-button-toggle-group>

        <button color="primary" (click)="navigateToHome()" mat-button>
          Close
        </button>
      </div>
      <!--Basic Mode-->
      <div
        *ngIf="!this.resultLoading && this.selectedMode() == 'basic'"
        #normalViewScreen
        class="normal-view mt-4"
      >
        <div
          class="prevent-select"
          #paragraph
          *ngFor="let para of testModel.Paragraph.Normal; let i = index"
        >
          <p
            *ngIf="i >= this.editorViewConfig().currentParaIndex"
            class="para font-medium"
          >
            @for (item of para.split(' '); track $index) {
            <span
              [ngClass]="
                editorViewConfig().currentParaIndex == i &&
                editorViewConfig().currentWordIndex == $index
                  ? 'highlight'
                  : ''
              "
              >{{ item }}</span
            >
            &nbsp; }
          </p>

          <mat-form-field
            *ngIf="i >= this.editorViewConfig().currentParaIndex"
            class="w-full white-bg input-form-field"
          >
            <ng-container>
              <!-- <span
                *ngFor="let str of editorViewConfig().typedlines[i]?.split(' ')"
              >
                {{ str }}
              </span> -->
              <div class="value-container">
                <span
                  *ngFor="
                    let word of typedLines()[i]?.split(' ');
                    let j = index
                  "
                  [ngClass]="{
                    redHighlight:
                      this.testModel.Paragraph.Normal[
                        this.editorViewConfig().currentParaIndex
                      ].split(' ')[j] != word &&
                      this.editorViewConfig().currentWordIndex > j &&
                      this.editorViewConfig().currentParaIndex == i
                  }"
                  >{{ word }}
                </span>
              </div>
            </ng-container>

            <input
              spellcheck="false"
              [readonly]="editorViewConfig().currentParaIndex != i"
              (copy)="(false)"
              (cut)="(false)"
              (paste)="(false)"
              (dragstart)="(false)"
              (dragend)="(false)"
              (selectstart)="(false)"
              (keydown)="startTyping($event, i)"
              (mousedown)="(false)"
              class="input select-none para font-medium prevent-select"
              matInput
            />
          </mat-form-field>
        </div>
      </div>
      <!--Basic Mode Ends-->

      <!--Pro Mode-->
      <div
        *ngIf="!this.resultLoading && selectedMode() == 'pro'"
        class="pro-view mt-4 items-center h-full"
      >
        <div class="prevent-select" #proViewParagraph>
          <div class="max-h-48 overflow-y-hidden">
            <div *ngFor="let para of testModel.Paragraph.Normal; let i = index">
              <p
                *ngIf="i >= editorViewConfig().currentParaIndex - 3"
                class="para font-medium"
              >
                @for (item of para.split(' '); track $index) {
                <span
                  [ngClass]="
                    editorViewConfig().currentParaIndex == i &&
                    editorViewConfig().currentWordIndex == $index
                      ? 'highlight'
                      : ''
                  "
                  >{{ item }}</span
                >
                &nbsp; }
              </p>
            </div>
          </div>
          <div class="mt-2 pro-wrapper">
            <mat-form-field class="w-full white-bg">
              <textarea
                wrap="hard"
                spellcheck="false"
                (copy)="(false)"
                (cut)="(false)"
                (paste)="(false)"
                (dragstart)="(false)"
                (dragend)="(false)"
                (selectstart)="(false)"
                (keydown)="startTyping($event, 0)"
                (mousedown)="(false)"
                class="font-medium para prevent-select select-none"
                matInput
                style="
                  word-spacing: 0.6rem;
                  color: white;
                  line-height: 36px !important;
                "
              ></textarea>
            </mat-form-field>
            <div class="pro-container overflow-y-hidden">
              @for (item of editorViewConfig().typedlines[0]?.split('\n'); track
              $index) {
              <div
                class="mb-4"
                *ngIf="$index >= editorViewConfig().currentParaIndex - 1"
              >
                <span
                  *ngFor="let word of item?.split(' '); let j = index"
                  [ngClass]="{
                    disabledLine:
                      this.editorViewConfig().currentParaIndex != $index,
                    redHighlight:
                      this.testModel.Paragraph.Normal[
                        this.editorViewConfig().currentParaIndex
                      ].split(' ')[j] != word &&
                      this.editorViewConfig().currentWordIndex > j &&
                      this.editorViewConfig().currentParaIndex == $index
                  }"
                  >{{ word }}
                </span>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <!--Pro Mode Ends-->
      <div
        class="h-full flex justify-center items-center"
        *ngIf="this.resultLoading"
      >
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
    </mat-card>
  </div>
  <div class="pro-view"></div>
  <div class="phone-view"></div>
</div>
